footer {
  background: rgb(147, 147, 147);
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: arial;
  padding: 10px 20px;
  height: 4em;
}
.footerLinks {
  text-align: center;
  font-weight: bold;
}
.footerLinks ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.footerLinks li {
  display: inline;
}
.footerLinks a {
  color: rgb(183, 166, 166);
  text-decoration: none;
  font-size: 17px;
}

.copyright p {
  margin: 0;
  color: rgb(183, 166, 166);
  font-size: 16px;
}

